.container {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-content: center;
   align-items: center;
   width: 30vw;
   background-color: #fff;
   border-radius: 10px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   margin: 1em 0.5em 0 0;
   padding: 1em;
   height: 21.5em;
   overflow-y: auto;
   flex-wrap: nowrap;
}

.attendanceButtons {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

button.checkInButton {
  background-color: transparent;
  border: teal 1px solid;
  color: teal;
  padding: 3px;
  margin: 3px;
}

button.noShowButton {
  background-color: transparent;
  border: red 1px solid;
  color: red;
  padding: 3px;
  margin: 3px;
}

p.meetingStatus {
  margin:0;
}

/* .meetingsContainer {
   border-radius: 10px;
   padding: 20px;
   background-color: #fff;
   margin: 0 auto;
 }
  */
 .header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 1em;
 }
 
 .currentDate {
   font-weight: bold;
 }
 
 .meetingsList {
   display: flex;
   flex-direction: column;
   gap: 15px;
   width: 30vw;
 }
 
 .meetingItem {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px;
   border: 1px solid #ddd;
   border-radius: 5px;
   background-color: #f9f9f9;
 }
 
 .userInfo {
   display: flex;
   align-items: center;
 }
 
 .userImage {
   width: 40px;
   height: 40px;
   border-radius: 50%;
   margin-right: 10px;
 }
 
 .userDetails {
   display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
 }
 
 .userName {
   font-weight: bold;
   margin: 0;
 }
 
 .workoutType {
   font-size: 0.9em;
   color: #666;
   margin: 0;
 }
 
 .meetingDetails {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
 }
 
 .meetingTime {
   font-size: 1.5em;
   font-weight: bold;
   margin: 0;
 }
 
 .meetingDuration {
   font-size: 0.9em;
   color: #666;
   margin: 0;
 }
 
 .toggleButton {
   background-color: teal;
   color: #fff;
   border: none;
   padding: 10px;
   border-radius: 5px;
   cursor: pointer;
   margin-top: 20px;
 }
 
 .toggleButton:hover {
   background-color: #0056b3;
 }
 
 @media (max-width:768px){

  .container {
    width: 90vw;
    width: 90vw;
    margin: 0.5em 0 0 0;
    height: 17em;
    overflow-x: hidden;
  }
  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
    flex-direction: column;
    flex-wrap: wrap;
}

  .header > h2 {
    font-size: 20px;
  }

  .header > p {
    font-size: 15px;
  }
  .meetingsList {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 90vw;
  }
}

@media (max-width:375px){

  .container {
    width: 96vw;
    margin: 0.5em 0em 0 0;
    height: auto;
    padding: 16px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .title {
    font-size: 20px;
  }

  .meetingsList {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 90vw;
  }


}