.container {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-content: center;
   align-items: center;
   width: 32vw;
   margin: 0 1em 0;
   padding: 20px;
   background-color: #fff;
   border-radius: 10px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.chartContainer {
   width: 32vw;
   margin: 0 1em 0;
   padding: 20px;
   background-color: #fff;
   border-radius: 10px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 }
 
 .title {
   text-align: center;
   margin-bottom: 20px;
   font-size: 24px;
   font-weight: bold;
 }

 .yearButton {
  background-color: white;
  border: 1px solid teal;
  border-radius: 6px;
  color: teal;
  margin: 1em 0 0 0;
  padding: 1em;
 }
 
.clientChart > canvas.chart{
  width: 30vw;
  display: flex;
 }

 @media (max-width:768px){

  .container {
    width: 40vw;
    margin: 0.5em 0.5em 0 0;
    height: 17em;
    padding: 16px;
  }

  .title {
    font-size: 20px;
  }


}

@media (max-width:375px){

  .container {
    width: 96vw;
    margin: 0.5em 0em 0 0;
    height: auto;
    padding: 16px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .title {
    font-size: 20px;
  }


}
