.container{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-content: center;
   justify-content: center;
   align-items: center;
}

form {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-content: center;
   justify-content: center;
   align-items: center;
}

.img > img{
   width: 70%;
   margin-top:10%;
  
}

.img{
   display: flex;
   align-content: center;
   justify-content: center;
   align-items: center;
}


.container > form > input {
    width: 18em;
    height: 2em;
    border: gray solid 1px;
    border-radius: 0.5em;
    text-align: center;
    color: lightgray;
}

.container > form > input.submit{
   width: 10em;
   height: 3em;
   background-color: white;
   color: teal;
   border-radius: 1.5em;
   border: 1px teal solid;
   cursor: pointer;
   display: flex;
   align-content: center;
   justify-content: center;
   align-items: center;
}

.container > form > input.submit:hover {
   width: 14em;
   height: 3em;
   background-color: white;
   border-radius: 1.5em;
   border: 1px teal solid;
   cursor: pointer;
   display: flex;
   align-content: center;
   justify-content: center;
   align-items: center;
}

.log {
   display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

.log > a {
   text-decoration: none;  
   text-transform: capitalize;
   color: teal;
}

.log > a:hover {
  border-bottom: 1px solid teal ; 
   text-transform: capitalize;
   color: teal;
   font-weight: 800;
}

@media (max-width: 768px) {
   .container{
      height: 100vh;
   }
   .log {
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      align-items: center;
      flex-direction: column;
   }
}

