.container{
   display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 100vh;
}

.leftdiv > img{
   width: 50%;
   
}

.girl{
   width: 50%;
   display: flex;
   justify-content: flex-end;
}
.girl > img{
   width: 70%;
   margin-top:5%;
}

.leftdiv{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-content: center;
   justify-content: center;
   align-items: center;
   width: 50%;
}

.buttons {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-content: center;
   justify-content: center;
   align-items: center;
   
}

.sign {
   width: 10em;
   height: 3em;
   background-color: teal;
   color: white;
   border-radius: 1.5em;
   border: none;
   margin: 2em;
   cursor: pointer;
   display: flex;
   align-content: center;
   justify-content: center;
   align-items: center;
}

.sign > a {
   color: white;
   text-decoration: none;
}

.log {
   width: 10em;
   height: 3em;
   background-color: white;
   border-radius: 1.5em;
   border: 1px teal solid;
   cursor: pointer;
   display: flex;
   align-content: center;
   justify-content: center;
   align-items: center;
}

.log > a {
   color: teal;
   text-decoration: none;
}

.block {
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   align-content: center;
   align-items: flex-start;
}


@media (max-width: 600px) {
   .girl{
      width: 100%;
      justify-content: center;
   }

   .leftdiv{
      width: 100%;
   }
   .container {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-evenly;
   }

   .block {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-content: center;
      align-items: center;
  }
 }