.container {
   display: flex;
   align-items: center;
   border: lightgray 1px solid;
   width: 17em;
   height: 19em;
   padding: 1em;
   border-radius: 0 0px 15px 15px;
   margin-bottom: 10px;
   flex-direction: column;
   margin-right: 1em;
   overflow-y: scroll;
   align-content: center;
   justify-content: center;
   box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.03);
   background-color: white;
}

.container:hover {
   box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.03);
   border: teal 1.5px solid;
}


.form {
   display: flex;
    justify-content: center;
    align-items: center;
    padding: 2% 0;
    width: 15em;
    flex-wrap: wrap;
    flex-direction: row;
}

.form > input {
   margin: 5px;
    width: 80%;
    height: 30px;
    border-radius: 3px;
    border: none;
    box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.18);
    padding: 5px;
}

.form > button {
   background: white;
   border: 1px solid teal;
   height: 50px;
   width: 140px;
   border-radius: 8px;
   margin: 2em 0 0em 0em;
   color: teal;
   text-transform: capitalize;
   cursor: pointer;
}

/* Extra Small Devices (Portrait Phones, less than 576px) */
@media only screen and (max-width: 575.98px) {
   .container{
      width: 28em;
      height: 22em;
      margin: 1em 0 0;
   }
 }
 
 /* Small Devices (Landscape Phones, 576px and up) */
 @media only screen and (min-width: 576px) and (max-width: 767.98px) {
   .container {
      width: 90%;
   }
 }
 
 /* Medium Devices (Tablets, 768px and up) */
 @media only screen and (min-width: 768px) and (max-width: 991.98px) {
   .container {
      width: 20em;
      height: 22em;
      margin: 0 1em 0;
   }

 }

   /* Large Devices (Desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
   .container {
      width: 80%;
      height: 20em;
      margin-bottom: 1em;
      margin-right: 0;
   }
   
 }
 
