.container {
   display: flex;
   width: 100%;
}

.wrap {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   align-content: center;
   background-color: lightgray;
}

.header {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   margin-top: 1em;
   width: 97%;
   color:#00808050;
   background-color: #fff;
   border-radius: 10px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   display: flex;
   flex-direction: row;
   align-items: center;
   
}

.header > a {
   display: flex;
   flex-direction: row;
   align-items: center;
}

.header > a > img {
   margin: 0 1em;
}

@media(max-width:768px) {
   .container {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: center;
      align-items: center;
   }
   .header {
      width: 94vw;
      margin-top:1em;
   }

   .header > a {
      width: 94vw;
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   }

   .header > a > img {
      margin: 0 1em 0
   }
}

@media (min-width: 769px) and (max-width: 1181px) {
   .container {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: center;
      align-items: center;
   }

}

@media (max-width:375px){
   
   .header {
      width: 95vw;
      margin-top:1em;
   }

 
 
 }