.container {
   display: flex;
   width: 100%;
}

.wrap {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   align-content: center;
}

.header {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   width: 99%;
   color: teal;
   border-bottom: solid lightblue 1px;
}

@media(max-width:768px) {
   .container {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: center;
    align-items: center;
   }
}