.container {
   display: flex;
   flex-direction: column;
   align-content: center;
   align-items: center;
   width: 20vw;
   background-color: #fff;
   border-radius: 10px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   margin: 1em 0.5em 0 0.5em;
   padding: 0.5em;
   min-height: 18em;
   overflow-y: auto;
   flex-wrap: nowrap;
}

.selectedMonth {
   background-color: #f0f0f0;
   font-weight: bold;
 }
 

.userList {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: flex-start;
   align-items: flex-start;
   align-content: space-between;
   width: 19vw;
}

.userItem {
   display: flex;
   flex-direction: row;
   align-items: center;
   flex-wrap: wrap;
   justify-content: space-around;
   width: 19vw;
   margin-bottom: 1em;
   border-bottom: 1px solid gray;
   padding-bottom: 1em;
}

.userItem > img{
   width: 3em;
   border-radius: 5em;
}

.userDetails {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
   flex-wrap: wrap;
   width: 9em;
}

.userDetails > p {
   margin: 0;
   text-align: left;
}

.monthButtons{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   margin-top: 2em;
}

.monthButtons > div > button {
   background-color: white;
   border: 1px solid teal;
   padding: 0.5em;
   border-radius: 0.5em;
   margin: 0.5em;
   color: teal;
   width: 6em;
}

/* Responsive Table for Activity History */
.activityHistory {
   overflow-x: auto;
   background: #f2f2f2;
   padding: 1em;
   border-radius: 1em;
   width: 93%;
}

.historyTable {
   width: 100%;
   border-collapse: collapse;
}

.historyTable th, .historyTable td {
   padding: 0.8em;
   border: 1px solid #ccc;
   text-align: center;
}

.historyTable th {
   background: teal;
   color: white;
   font-weight: bold;
}

.historyTable tr:nth-child(even) {
   background: #e6e6e6;
}

.historyTable tr:hover {
   background: #d1d1d1;
}

.modalHeader > img {
   width: 5em;
   border-radius: 5em;
}

.modalstyle {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
}

/* Extra Small Devices (Portrait Phones, less than 576px) */
@media only screen and (max-width: 575.98px) {
   .container {
      width: 96vw;
      margin: 0.5em 0em 0 0;
      height: auto;
      padding: 16px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
   }

   .title {
      font-size: 20px;
   }

   .userList {
      width: 90vw;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: center;
      align-items: center;
      padding: 0.5em;
      background-color: #fff;
      border-radius: 10px;
   }

   .userItem {
      width: 90vw;
   }

   .userDetails > p {
      margin: 0;
      font-size: 23px;
   }

   .userItem > img {
      width: 4em;
   }

   img.chevronIcon {
      width: 3em;
   }

   .userDetails {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap;
      width: 10em;
      overflow-y: hidden;
   }

   .activityHistory {
      overflow-x: auto;
   }

   .historyTable {
      font-size: 0.9em;
   }
}

/* Small Devices (Landscape Phones, 576px and up) */
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
   .container {
      width: 90vw;
      margin: 0.5em 0 0 0;
      height: 17em;
      overflow-x: hidden;
   }

   .userList {
      width: 80vw;
   }

   .userItem > img {
      width: 2em;
   }

   .userDetails > p {
      font-size: 1.3em;
   }

   img.chevronIcon {
      width: 2em;
   }

   .userItem {
      width: 80vw;
   }

   .activityHistory {
      overflow-x: auto;
   }

   .historyTable {
      font-size: 0.9em;
   }
}

/* Medium Devices (Tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
   .container {
      width: 90vw;
      margin: 0.5em 0 0 0;
      height: 17em;
      overflow-x: hidden;
   }

   .userList {
      width: 80vw;
   }

   .userItem > img {
      width: 4em;
   }

   .userDetails > p {
      font-size: 23px;
   }

   img.chevronIcon {
      width: 3em;
   }

   .userItem {
      width: 80vw;
   }

   .activityHistory {
      overflow-x: auto;
   }
}

/* Large Devices (Desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
   .container {
      width: 80vw;
   }

   .activityHistory {
      overflow-x: auto;
   }

   .historyTable {
      font-size: 1em;
   }
}
