.container {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-content: center;
   justify-content: center;
   align-items: center;
   width: 71vw;
   margin-top: 2em;
}

.workouts {
   display: flex;
   align-items: center;
   border: gray 1px solid;
   width: 300px;
   height: 370px;
   border-radius: 0 0px 15px 15px;
   margin-top: 10px;
   flex-direction: column;
   margin-right: 1.5em;
   
}
.workouts:hover {
   display: flex;
   align-items: center;
   border: gray 1px solid;
   width: 310px;
   height: 380px;
   border-radius: 0 0px 15px 15px;
   margin-top: 10px;
   flex-direction: column;
   margin-right: 1.5em;
   box-shadow: 0px 0px 20px gray;
}

.info {
   background-color: rgba(250, 250, 250, 0.8);
   color: black;
    width: 300px;
    height: auto;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    visibility: hidden;

  }

  .wrap:hover > .info {
   visibility: initial;
 }


.work {
   width: 200px;
   height: 230px;
   margin-top: 2em;
   box-shadow: 59px -16px teal;

}

.workouts > a > p {
   z-index: 1;
   font-weight: bold;
   position: relative;
   transition: 0.5s all;
  -webkit-transition: 0.51s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  text-transform: uppercase;
}


.workouts  > a {
  text-decoration: none;
  color: teal;
}

.wrap {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   align-content: center;
   margin-top: 2em;
  
}

.small_header > img{
   width: 55px;
   border-radius: 50px;
   box-shadow: 5px 5px 5px grey;
   margin-right: 10px;
}

.small_header {
   display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}