.container {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-content: center;
   justify-content: center;
   align-items: center;
   width: 71vw;
}

.workouts {
   border: 1px solid gray;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 16em;
    height: 15.3em;
    margin: 1em;
}

.work {
   width: 16em;

}

.wrap {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   align-content: center;
}

.small_header > img{
   width: 55px;
   border-radius: 50px;
   box-shadow: 5px 5px 5px grey;
   margin-right: 10px;
}

.small_header {
   display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}