.container {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-content: center;
   justify-content: center;
   align-items: center;
   width: 71vw;
   margin-top: 2em;
   
}

.cardWrap {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: center;
   width: 100vw;
   justify-content: center;
}

.tips {
   column-count: 3;
   margin-top: 1.5em;
   width: 80vw;
}

.tips > ul > li {
   text-align: left;
   margin-bottom: 1em;
}

.tips > img {
   width: 310px;
   height: auto;
}

@media(max-width:768px) {
   .tips > img {
      width: 285px;
      height: auto;
      margin-bottom: 1em;
   }

   .container {
      width: 100vw;
      margin-top: 3em;
   }

   .tips {
      display: flex;
      width: 80vw;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
   }
}