.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  width: 15vw;
  height: 21vh;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 1em 0.5em 1em 0.5em;
  padding: 1em;
  justify-content: center;
}

.container2 {
 display: flex;
 flex-direction: column;
 flex-wrap: nowrap;
 align-content: center;
 align-items: center;
 width: 64.5em;
 height: 100vh;
 background-color: #fff;
 border-radius: 10px;
 box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 margin: 0.5em 0.5em 1em 0;
 padding: 1em;
 justify-content: flex-start;
}

.container > a {
 text-decoration: none;
 color:gray;
}

.filterButtons {
 display: flex;
 justify-content: center;
 gap: 10px;
 margin-bottom: 20px;
 flex-wrap: wrap;
}

.filterButton {
  align-content: center;
  align-items: center;
  background-color: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px #0000001a;
  color: gray;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 1.2em;
  height: 3em;
  justify-content: center;
  margin: .5em .5em 1em 0;
  padding: 1em;
  width: 12em;
}z

.filterButton:hover {
 width: 18vw;
 height: 11vh;
}

.filterButton.active {
 background-color: teal;
 color:white;
}

.workouts {
 display: flex;
 flex-wrap: wrap;
 gap: 20px;
 justify-content: center;
}

.emptyState {
 font-size: 16px;
 color: #999;
 text-align: center;
 margin-top: 20px;
}

.modalContent {
 display: flex;
 flex-direction: column;
 align-items: center;
 flex-wrap: wrap;
 align-content: center;
 justify-content: flex-start;
}

.editText > textarea {
 width: 23em;
 height: 12em;
}

.mealPlans {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  align-content: center;
  margin: 0.5em;
}


.buttonWrap {
 display: flex;
 flex-direction: row;
 align-content: center;
 align-items: center;
 flex-wrap: wrap;
}

.userSelection > select {
  margin: 10px;
  width: 26em!important;
  height: 4em;
  border-radius: 3px;
  border: none;
  box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.18);
  padding: 5px;
  color: #888;
}

.sendButton > button {
  height: 4em;
  background-color: white;
  color: teal;
  border: 1px solid teal;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  width: 13em;
  margin: 1em 0 1em;
}



/* Extra Small Devices (Portrait Phones, less than 576px) */
@media only screen and (max-width: 575.98px) {
  .container {
    width: 38.5vw;
    margin: 0.5em 0.5em 0 0;
    height: 9em;
  }
 
  .container2 {
    display: flex;
    margin: .5em 0 0;
    padding: 16px;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }
 
  .title {
    font-size: 20px;
  }

  .filterButtons > button{
    display: flex;
    margin-bottom: 1em;
    width: 8em;
    height: 4em;
    flex-direction: column;
  }
 
  .filterButtons {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1em;
    flex-wrap: wrap;
  }
 
  .filterButtons:hover {
    display: flex;
    margin-bottom: 1em;
    width: 8em;
    height: 4em;
    flex-direction: column;
  }
  .buttonWrap {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .userSelection > select {
    margin: 10px;
    width: 26em!important;
    height: 4em;
    border-radius: 3px;
    border: none;
    box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.18);
    padding: 5px;
    color: #888;
  }

  .sendButton > button {
    height: 5em;
    background-color: white;
    color: teal;
    border: 1px solid teal;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    width: 13em;
    margin: 1em 0 1em;
  }
}

/* Small Devices (Landscape Phones, 576px and up) */
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .container {
    width: 38.5vw;
    margin: 0.5em 0 0 0;
    height: 9em;
  }

    .container2 {
    width: 86vw;
    margin: 0.5em 0 1em 0;
    height: auto;
  }

  .filterButtons > button {
    display: flex;
    margin-bottom: 1em;
    width: 9em;
    height: 4em;
    flex-direction: column;
  }
  .filterButtons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    flex-direction: column;
    align-items: center;
  }

  .filterButtons:hover {
    display: flex;
    margin-bottom: 1em;
    width: 9em;
    height: 4em;
    flex-direction: column;
  }

  .userSelection > select {
    margin: 10px;
    width: 26em!important;
    height: 4em;
    border-radius: 3px;
    border: none;
    box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.18);
    padding: 5px;
    color: #888;
  }

  .sendButton > button {
    height: 5em;
    background-color: white;
    color: teal;
    border: 1px solid teal;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    width: 13em;
    margin: 1em 0 1em;
  }

  .buttonWrap {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}

/* Medium Devices (Tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .container {
    width: 38.5vw;
    margin: 0.5em 0 0 0;
    height: 9em;
  }

    .container2 {
    width: 86vw;
    margin: 0.5em 0 1em 0;
    height: auto;
  }

  .filterButtons > button {
    display: flex;
    margin-bottom: 1em;
    width: 9em;
    height: 4em;
    flex-direction: column;
  }
  .filterButtons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    flex-direction: column;
    align-items: center;
  }

  .filterButton:hover {
    display: flex;
    margin-bottom: 1em;
    width: 9em;
    height: 4em;
    flex-direction: column;
  }

  .userSelection > select {
    margin: 10px;
    width: 26em!important;
    height: 4em;
    border-radius: 3px;
    border: none;
    box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.18);
    padding: 5px;
    color: #888;
  }

  .sendButton > button {
    height: 5em;
    background-color: white;
    color: teal;
    border: 1px solid teal;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    width: 13em;
    margin: 1em 0 1em;
  }

  .buttonWrap {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}

/* Large Devices (Desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  /* Add your styles here */
}