
.info {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-content: center;
   align-items: center;
   width: 27em;
   padding: 1em;
   background-color: #fff;
   border-radius: 10px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   margin: 1em;
}

.data {
   display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 1em;
   }

.imagen > img {
   width: 70px;
   border-radius: 50%;
   margin-top: 0.5em;
}

.data > p {
   margin: 0.3em 0 0.3em 1em;
}

.imagen {
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
}

.box {
   display: flex;
   margin-top: -5em;
   flex-wrap: wrap;
   flex-direction: column;
   justify-content: center;
   align-items: flex-end;
   width: 100%;
   align-content: flex-end;
}

.box > button {
   background: transparent;
   border: none;
   height: 30px;
   width: 30px;
   cursor: pointer;
}


form {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-content: center;
   justify-content: center;
   align-items: center;
}



/* Extra Small Devices (Portrait Phones, less than 576px) */
@media only screen and (max-width: 575.98px) {
   .info {
      margin: 0.5em 0 0;
   }

   .imagen > img {
      width: 5em;
   }
 }
 
 /* Small Devices (Landscape Phones, 576px and up) */
 @media only screen and (min-width: 576px) and (max-width: 767.98px) {
   /* Add your styles here */
 }
 
 /* Medium Devices (Tablets, 768px and up) */
 @media only screen and (min-width: 768px) and (max-width: 991.98px) {
   /* Add your styles here */
 }
 
 /* Large Devices (Desktops, 992px and up) */
 @media only screen and (min-width: 992px) and (max-width: 1199.98px) {
   /* Add your styles here */
 }
 
 /* Extra Large Devices (Large Desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) and (max-width: 1399.98px) {
   /* Add your styles here */