.container {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-content: center;
   justify-content: center;
   align-items: center;
   width: 100vw;
   margin-top: 2em;
   
}

.wrapper > form > input {
   margin: 1em;
    width: 26em;
    height: 2em;
    border: gray solid 1px;
    border-radius: 0.5em;
    text-align: center;
    color: lightgray;
}

.wrapper > form > textarea {
   margin: 1em;
    width: 26em;
    height: 3em;
    border: gray solid 1px;
    border-radius: 0.5em;
    text-align: center;
    color: lightgray;
}


.wrapper > form > button{
   background: teal;
    color: white;
    border: none;
    width: 10em;
    margin-top: 3em;
    height: 3em;
}


.image {
   display: flex;
}

.image > img {
   width: 40em;
}

.wrapper {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: center;
}

@media (max-width: 675px) {
   .image > img{
      width: 100%;
   }
   .image {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
   }

   .container {
      width: 90vw;
   }
 }