.container {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-content: center;
   justify-content: center;
   align-items: center;
   width: 71vw;
   margin-top: 2em;
   
}

.container > form > input {
   margin: 1em;
    width: 26em;
    height: 2em;
    border: gray solid 1px;
    border-radius: 0.5em;
    text-align: center;
    color: lightgray;
}

.container > form > textarea {
   margin: 1em;
    width: 26em;
    height: 3em;
    border: gray solid 1px;
    border-radius: 0.5em;
    text-align: center;
    color: lightgray;
}


.container > form > button{
   background: teal;
    color: white;
    border: none;
    width: 10em;
    margin-top: 3em;
    height: 3em;
}
