/* Base Nav Styles */
.navbar {
   align-items: flex-start;
   background: #fff;
   box-shadow: 0 4px 8px #0000001a;
   display: flex;
   justify-content: space-between;
   padding: 1em;
   position: relative;
   width: 100%;
   z-index: 100;

}
.side_menu > img {
   width: 2em;
    margin: 0 0.5em;
}
.side_menu > a > img {
   width: 2em;
    margin: 0 0.5em;
}

.side_menu > button {
   background: transparent;
   border: none;
   display: flex;
   flex-direction: row;
   align-items: center;
   align-content: center;
   color: gray;
   font-size: 18px;
}

.side_menu > img {
   width: 2em;
   margin: 0 0.5em;
}

/* Logo Visibility */
.logoLarge {
   display: block;
   width: 150px;
}

.logoSmall {
   display: none;
   width: 50px;
}

/* Burger Menu Container */
.burgerContainer {
   display: none;
   align-items: center;
   gap: 10px;
   cursor: pointer;
}

/* Desktop Menu */
.links {
   align-items: center;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   width: 100%;
   flex-wrap: wrap;
}

.links a {
   color: grey;
   display: block;
   margin-right: 1em;
   font-size: 1.5em;
   text-decoration: none;
}

.links a:hover {
   color: teal;
   font-weight: bold;
}

/* Responsive Menu (Hidden by Default) */
.links.active {
   position: absolute;
   top: 6em;
   left: 50%;
   transform: translateX(-50%);
   width: 90vw;
   display: flex;
   flex-direction: column;
   align-items: center;
   background: #f7f7f7;
   box-shadow: 0px 0px 8px #80808042;
   padding-bottom: 2em;
   z-index: 100;
}

/* Side Menu Items */
.side_menu {
   width: 280px;
   height: 45px;
   background: white;
   margin: 0.3em 0;
   align-items: center;
   display: flex;
   justify-content: center;
   box-shadow: 0px 0px 8px #80808042;
}

.side_menu:hover {
   border: teal 1px solid;
   border-radius: 20px;
}

.side_menu a {
   color: teal;
   font-weight: 800;
   text-decoration: none;
   text-transform: capitalize;
   font-size: 18px;
}

.side_menu a:hover {
   color: teal;
   font-weight: bold;
}

/* Hide Burger Menu in Desktop */
@media only screen and (min-width: 992px) {
   .burgerContainer {
      display: none;
   }

   .logoLarge {
      display: block;
   }

   .logoSmall {
      display: none;
   }
}

/* Mobile View (Phones) */
@media only screen and (max-width: 575.98px) {
   .logoLarge {
      display: none;
   }

   .logoSmall {
      display: block;
      width: 6em;
      margin-right: 1em;
   }

   .burgerContainer {
      display: flex;
   }

   .navbar {
      align-items: center;
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      height: 6em;
   }

   .links {
      display: none;
   }

   .links.active {
      display: flex;
   }
}

/* Small Devices (Landscape Phones) */
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
   .logoLarge {
      display: none;
   }

   .logoSmall {
      display: block;
   }

   .burgerContainer {
      display: flex;
   }
}

/* Medium Devices (Tablets) */
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
   .burgerContainer {
      display: flex;
   }

   .logoSmall {
      display: block;
   }

   .logoLarge {
      display: none;
   }
}
