
.info {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-content: center;
   align-items: center;
   width: 27em;
   padding: 1em;
   background-color: #fff;
   border-radius: 10px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   margin: 1em;
}

.data {
   display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 1em;
   }

.imagen > img {
   width: 70px;
   border-radius: 50%;
   margin-top: 0.5em;
}

.data > p {
   margin: 0.3em 0 0.3em 1em;
}

.imagen {
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
}

.box {
   display: flex;
   margin-top: -5em;
   flex-wrap: wrap;
   flex-direction: column;
   justify-content: center;
   align-items: flex-end;
   width: 100%;
   align-content: flex-end;
}

.box > button {
   background: transparent;
   border: none;
   height: 30px;
   width: 30px;
   cursor: pointer;
}


form {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-content: center;
   justify-content: center;
   align-items: center;
}



/* For larger screens */
.container {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
 }
 
 /* Adjust for tablets */
 @media (max-width: 1024px) {
   .container {
     grid-template-columns: repeat(2, 1fr);
   }
 }
 
 /* Adjust for mobile */
 @media (max-width: 767px) {
   
   
   .info {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: center;
      align-items: center;
      width: 27em;
      padding: 0.5em;
      background-color: #fff;
      border-radius: 10px;
    }

    .data{
      margin: 0;
    }

    .imagen > img {
      width: 100%;
   }
 }

 @media (max-width:375px){

   .info {
      margin: 0.5em 0 0;
   }
 
 }