.container {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-content: center;
   align-items: center;
   width: 78vw;
   background-color: #fff;
   border-radius: 10px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   margin: 1em;
   padding-bottom: 1em;
}
.wrap {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-content: center;
   align-items: flex-start;
   width: 76vw;
   background-color: #fff;
   border-radius: 10px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   margin: 1em;
   padding-bottom: 1em;
}

.small_header {
   display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2em;
}


.small_header > h2 {
   margin: 0.1em
}

.namesinput {
   display: flex;
   flex-direction: row;
   margin-top: 1.5em;
   align-items: center;
   justify-content: space-around;
   flex-wrap: wrap;
   width: 13em;
}

.namesinput > input, select {
   margin: 10px;
    width: 60%;
    height: 30px;
    border-radius: 3px;
    border: none;
    box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.18);
    padding: 5px;
}

.submit {
   border: solid white 2px;
    background: teal;
    height: 50px;
    width: 140px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.box {
   display: flex;
    margin-top: 1em;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.wrap_form{
   display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    width: 50%;

}

.form {
   display: flex;
   flex-direction: column;
}

.searchBox {
   margin: 10px 0;
   padding: 8px;
   width: 40%;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   margin: 1em;
 }
 
 .showMoreButton {
   background: teal;
   border: 2px solid #fff;
   border-radius: 8px;
   color: #fff;
   height: 50px;
   margin: 2em 0 0;
   width: 140px;
   cursor: pointer;
   font-size: 16px;
 }
 
 
 
/* Extra Small Devices (Portrait Phones, less than 576px) */
@media only screen and (max-width: 575.98px) {
   .container {
      width: 97vw;
      margin: 0.5em 0em 0 0;
      height: auto;
      padding: 16px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }
  
    .title {
      font-size: 20px;
    }
  
 
    .wrap {
       width: 97vw;
    }


 }
 
 /* Small Devices (Landscape Phones, 576px and up) */
 @media only screen and (min-width: 576px) and (max-width: 767.98px) {
   /* Add your styles here */
 }
 
 /* Medium Devices (Tablets, 768px and up) */
 @media only screen and (min-width: 768px) and (max-width: 991.98px) {
   .container {
      align-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: 94vw;
      margin: 1em 0;
   }

  .wrap {
   width: 90vw;
  }
 }
 
 /* Large Devices (Desktops, 992px and up) */
 @media only screen and (min-width: 992px) and (max-width: 1199.98px) {
   /* Add your styles here */
 }
 
 /* Extra Large Devices (Large Desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) and (max-width: 1399.98px) {
   /* Add your styles here */

 }