.cardWrap {
   border: lightgray 1px solid;
   width: 18em;
   height: 27em;
   display: flex;
   flex-direction: column;
   align-content: center;
   align-items: center;
   background-color: #fff;
   border-radius: 10px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   margin: 1em 0.5em 0 0.5em;
   padding: 0.5em;
   overflow-y: scroll;
}

.cardWrap:hover {
   display: flex;
   align-items: center;
   border: teal 2px solid;
   border-radius: 0 0px 15px 15px;
}

.style{
   display: flex;
   flex-direction: column;
}

.wrapper > p {
   text-align: left;
}

.wrapper > img {
   width: 17em;
    height: auto;
    margin-top: 1em;
    border-radius: 2em;
}
.style > h3 {
   text-transform: capitalize;
   color: teal;
   font-weight: bold;
}


