.cardWrap {
   border: 1px solid teal;
   border-radius: 0 0 1em 1em;
   width: 20vw;
   height: 20em;
   overflow-y: scroll;
   margin-right: 1em;
}

.style{
   display: flex;
   flex-direction: column;
}

.wrapper > p {
   text-align: justify;
}

.style > h3 {
   text-transform: capitalize;
   color: teal;
   font-weight: bold;
}


@media(max-width:768px) {
   .cardWrap {
      border: 1px solid teal;
      border-radius: 0 0 1em 1em;
      width: 90vw;
      height: 20em;
      overflow-y: scroll;
      margin-bottom: 1em;
   }
}