
/* THIS IS THE DASHBOARD MODULE!! */

.container{
   align-content: center;
   align-items: center;
   background-color: #fff;
   border: 1px solid #d3d3d3;
   border-radius: 0 0 15px 15px;
   box-shadow: 1px 2px 4px #00000036;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   height: auto;
   justify-content: flex-start;
   margin-bottom: 10px;
   margin-right: 1.5em;
   overflow-y: scroll;
   padding: 1em;
   width: 20em;
}

 
 .title {
   font-size: 22px;
   font-weight: bold;
   margin-bottom: 10px;
 }
 
 .subtitle {
   font-size: 20px;
   font-weight: bold;
   margin-top: 20px;
 }
 
 /* Stats Grid */
 .statsGrid {
   display: flex;
   justify-content: space-between;
   margin-top: 20px;
 }
 
 .statBlock {
   background: #ffffff22;
   border-radius: 12px;
   padding: 15px;
   text-align: center;
   width: 48%;
   margin: 0.5em;
   border: 1px solid teal;
 }
 
 .statValue {
   font-size: 26px;
   font-weight: bold;
   background: #ffffff22;
   border-radius: 12px;
   padding: 15px;
   text-align: center;
   width: 48%;
   margin: 0.5em;
  
 }
 
 /* History Grid */
 .historyGrid {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 15px;
   margin-top: 15px;
 }
 
 .historyBlock {
   background: #ffffff22;
   padding: 15px;
   border-radius: 12px;
   text-align: center;
   border: 1px solid teal;
 }
 
.container:hover {
   box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.03);
   border: teal 1.5px solid;
}


/* Extra Small Devices (Portrait Phones, less than 576px) */
@media only screen and (max-width: 575.98px) {
   .container{
      height: auto;
      margin: 1em 0 0;
      width: 22em;
   }
 }
 
 /* Small Devices (Landscape Phones, 576px and up) */
 @media only screen and (min-width: 576px) and (max-width: 767.98px) {
   .container {
      width: 90%;
      height: 16em;
      margin: 1em 0 0;
   }
 }
 
 /* Medium Devices (Tablets, 768px and up) */
 @media only screen and (min-width: 768px) and (max-width: 991.98px) {
   .container {
      width: 80%;
      height: 15em;
      margin: 0 1em 1em;
   }


 }

   /* Large Devices (Desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
   .container {
      width: 80%;
      height: 18em;
      margin: 1em;
   }
 }
 

 /* THIS IS THE DASHBOARD MODULE!! */

 