.container{
   display: flex;
    align-items: center;
    border: lightgray 1px solid;
    width: 300px;
    height: 300px;
    border-radius: 0 0px 15px 15px;
    margin-bottom: 10px;
    flex-direction: column;
    margin-right: 1.5em;
    overflow-y: scroll;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.03);
}

.container:hover {
   box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.03);
   border: teal 1.5px solid;
}


@media(max-width:800px) {
   .container{
      width: 87vw;
      height: 20em;
      margin-bottom: 1em;
      margin-right: 0;
   }
}

@media (min-width: 768px) and (max-width: 1180px) {
   .container{
      margin: 0.5em;
   }
}