.container {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-content: center;
   align-items: center;
   width: 80vw;
}

.wrap {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: center;
   justify-content: flex-start;
   width: 76vw;
}

.small_header {
   display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2em;
}


.small_header > h2 {
   margin: 0.1em
}