.container {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-content: center;
   align-items: center;
   width: 57vw;
   padding: 2em;
   margin: 1em;
   background: white;
   border-radius: 1em;
}
.img > img{
   display: flex;
   width: 3em;
}
.wrapper {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-content: center;
   align-items: center;
   width: 75vw;
   justify-content: center;
}

.form {
   display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
}


.chat  {
   margin: 2em;
    border: 0.1em teal solid;
    width: 25em;
    height: auto;
    padding: 1em;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    color: teal;
    font-weight: 800;
    overflow:scroll;
}

.chat > textarea {
   box-shadow: none;
}

.upload {
   margin: 1em;
}



.prompt > textarea {
   background-color: transparent;
   margin: 2em;
   border: 0.1em teal solid;
   width: 500px;
   height: 70px;
   border-radius: 1em;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: large;
   text-align: center;
   box-shadow: none;
}

.buttons > .reset {
   border: solid white 2px;
    background: teal;
    height: 50px;
    width: 140px;
    border-radius: 8px;
    color: white;
    margin: 2em 0 0em 0em;
}

.buttons > .send {
   border: solid teal 2px;
   background: white;
   height: 50px;
   width: 140px;
   border-radius: 8px;
   color: teal;
   margin: 2em 2em 0em 0em;
}

button.save {
   border: solid teal 2px;
   background: white;
   height: 50px;
   width: 140px;
   border-radius: 8px;
   color: teal;
   margin: 2em 0 0em 0em;
}


.buttons {
   display: flex;

}

@media (max-width:768px){
   .prompt > textarea {
      width: 25em;
   }

   .chat {
      width: 20em;
      height: 8em;
   }
}

@media (min-width: 769px) and (max-width: 1181px) {
   .prompt > textarea {
      width: 30em;
   }
   .chat {
      width: 25em;
      height: 8em;
   }

}