.container {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-content: center;
   align-items: center;
   width: 16vw;
   height: 21vh;
   background-color: #fff;
   border-radius: 10px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   margin: 1em 0.5em 1em 0.5em;
   padding: 1em;
   justify-content: center;
}



 /* Extra Small Devices (Portrait Phones, less than 576px) */
@media only screen and (max-width: 575.98px) {
  .container {
    height: 9em;
    margin: .5em 0 0;
    width: 37.5vw;
   }
 
   .title {
     font-size: 20px;
   }
}

/* Small Devices (Landscape Phones, 576px and up) */
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  /* Add your styles here */
}

/* Medium Devices (Tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  /* Add your styles here */
}

/* Large Devices (Desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  /* Add your styles here */
}