.container {
   display: flex;
   width: 100vw;
   height: auto;
   background: linear-gradient(to top, #c3dedb, #f8f8f8);
   padding: 2em 1em 1em 1em;
   flex-direction: column;
   flex-wrap: wrap;
   align-items: center;
}

.historical {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}

.wrap {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   width: 100vw;
}

.block {
   display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
}

.click:active {
   cursor: pointer;
   color: teal;
}


.click > p:active {
   color: teal !important;
}

.small_header {
   display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2em;
}


.small_header > a > img {
   margin-right: 1em;
}

.toggle {
   background: white;
   border: 1px solid teal;
   height: 50px;
   width: 165px;
   border-radius: 8px;
   margin: 1em 0 0em 0em;
   color: teal;
   text-transform: capitalize;
   cursor: pointer;
   display: flex;
   align-content: center;
   align-items: center;
   justify-content: center;
}


/* Extra Small Devices (Portrait Phones, less than 576px) */
@media only screen and (max-width: 575.98px) {
   /* Add your styles here */
 }
 
 /* Small Devices (Landscape Phones, 576px and up) */
 @media only screen and (min-width: 576px) and (max-width: 767.98px) {
   /* Add your styles here */
 }
 
 /* Medium Devices (Tablets, 768px and up) */
 @media only screen and (min-width: 768px) and (max-width: 991.98px) {
   /* Add your styles here */
 }
 
 /* Large Devices (Desktops, 992px and up) */
 @media only screen and (min-width: 992px) and (max-width: 1199.98px) {
   /* Add your styles here */
 }
 

