.container {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-content: center;
   align-items: center;
   width: 78vw;
   background-color: #fff;
   border-radius: 10px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   margin: 1em;
}

.historical {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}

.wrap {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   width: 70vw;
}

.block {
   display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
}

.click:active {
   cursor: pointer;
   color: teal;
}


.click > p:active {
   color: teal !important;
}

.small_header {
   display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2em;
}


.small_header > a > img {
   margin-right: 1em;
}


@media(max-width: 800px) {
   .container {
      margin-bottom: 2em;
      width: 90vw;
   }
   .wrap {
      width: 90vw;
   }
}

@media (min-width: 769px) and (max-width: 1181px) {
   .container {
      margin-bottom: 2em;
      width: 90vw;
   }

   .wrap {
      width: 90vw;
   }
}

