.container {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-content: center;
   align-items: center;
   width: 16vw;
   height: 21vh;
   background-color: #fff;
   border-radius: 10px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   margin: 1em 0.5em 1em 0;
   padding: 1em;
   justify-content: center;
}

.container2 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  width: 64.5em;
  min-height: 100vh;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0.5em 0.5em 1em 0;
  padding: 1em;
  justify-content: flex-start;
  margin-bottom: 2em;
}

.container > a {
  text-decoration: none;
  color:gray;
}

.filterButtons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.filterButton {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    width: 17vw;
    height: 10vh;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0.5em 0.5em 1em 0;
    padding: 1em;
    justify-content: center;
    border:none;
    color: gray;
    font-size: 1.2em;
}

.filterButton:hover {
  width: 18vw;
  height: 11vh;
}

.filterButton.active {
  background-color: teal;
  color:white;
}

.workouts {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.emptyState {
  font-size: 16px;
  color: #999;
  text-align: center;
  margin-top: 20px;
}

.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
}

.editText > textarea {
  width: 23em;
  height: 12em;
}

.sendButton {
  height: 3em;
  background-color: white;
  color: teal;
  border: 1px solid teal;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  width: 9em;

}

.buttonWrap {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
}




/* Extra Small Devices (Portrait Phones, less than 576px) */
@media only screen and (max-width: 575.98px) {
  
  .container {
    height: 9em;
    margin: .5em 0.5em 0 0;
    width: 36vw;
  }

  .container2 {
    display: flex;
    flex-direction: column;
    height: auto;
    margin: .5em 0 0;
    padding: 16px;
    width: 86vw;
    flex-wrap: wrap;
  }

  .sendButton {
    background-color: #fff;
    border: 1px solid teal;
    border-radius: 4px;
    color: teal;
    cursor: pointer;
    height: 4em;
    padding: 8px 16px;
    width: 11em;
  }

  .title {
    font-size: 20px;
  }
  
  .filterButtons > button{
    display: flex;
    flex-direction: column;
    height: 4em;
    margin-bottom: 1em;
    width: 8em;
  }

  .filterButtons {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
  }


  .userSelection > select {
    border: none;
    border-radius: 3px;
    box-shadow: 0 4px 4px #3333330a, 0 4px 16px #3333332e;
    height: 4em;
    width: 14em;
    margin: 10px;
    padding: 5px;
  }
}

/* Small Devices (Landscape Phones, 576px and up) */
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  /* Add your styles here */
}

/* Medium Devices (Tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .container {
    width: 38.5vw;
    margin: 0.5em 0.5em 0 0;
    height: 9em;
   }

   .container2 {
    width: 86vw;
    margin: 0.5em 0 1em 0;
    height: auto;
  }

  .filterButtons > button {
    display: flex;
    margin-bottom: 1em;
    width: 77vw;
    height: 10vh;
    flex-direction: column;
}
  .filterButtons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    flex-direction: column;
    align-items: center;
  }

  .filterButton:hover {
    display: flex;
    margin-bottom: 1em;
    width: 77vw;
    height: 10vh;
    flex-direction: column;
  }
  .userSelection > select {
    margin: 10px;
    width: 26em!important;
    height: 4em;
    border-radius: 3px;
    border: none;
    box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.18);
    padding: 5px;
    color: #888;
  }

  .sendButton {
    height: 5em;
    background-color: white;
    color: teal;
    border: 1px solid teal;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    width: 13em;
    margin: 1em 0 1em;
  }

  .buttonWrap {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}

/* Large Devices (Desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  /* Add your styles here */
}
