.container {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-content: center;
   align-items: center;
   width: 17vw;
   height: 21vh;
   background-color: #fff;
   border-radius: 10px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   margin: 0.5em 0.5em 1em 0;
   padding: 1em;
   justify-content: center;
}

@media (max-width:768px){

   .container {
     width: 39vw;
     margin: 0.5em 0 0 0;
     height: 9em;
   }

 }


 @media (max-width:375px){

  .container {
    width: 96vw;
    margin: 0.5em 0em 0 0;
    height: auto;
    padding: 16px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .title {
    font-size: 20px;
  }


}