.container{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-content: center;
   justify-content: center;
   align-items: center;
}

form {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-content: center;
   justify-content: center;
   align-items: center;
}

.img > img{
   width: 70%;
   margin-top:10%;
  
}

.img{
   display: flex;
   align-content: center;
   justify-content: center;
   align-items: center;
}

.wrapper > form > input {
    width: 18em;
    height: 2em;
    border: gray solid 1px;
    border-radius: 0.5em;
    text-align: center;
    color: lightgray;
}

.wrapper > form > input.submit{
   background: teal;
    color: white;
    border: none;
    width: 10em;
    margin-top: 3em;
    height: 3em;
}


.wrapper > form > input.submit:hover{
   background: white;
    color: teal;
    border: 1px solid teal;
    border-radius: 20px;
    width: 12em;
    margin-top: 3em;
    height: 3em;
}

.log {
   display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

.log > a {
   text-decoration: none;  
   text-transform: capitalize;
   color: teal;
}

.log > a:hover {
  border-bottom: 1px solid teal ; 
   text-transform: capitalize;
   color: teal;
   font-weight: 800;
}



@media(max-width:768px){

   .container{
      height: 100vh;
      display: block;
   }

   .log {
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      align-items: center;
      flex-direction: column;
   }

   .wrapper {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: center;
      align-items: center;
   }
}