
.container {
   display: flex;
   flex-wrap: wrap;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.wrapper {
   border: 1px solid  teal;
   border-radius: 1em;
   padding: 2em;
   margin: 2em;
   width: 25em;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-content: center;
   align-items: center;
}

.header {
   display: flex;
   flex-wrap: wrap;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   margin:2em;
}

.header > h1 {
   font-weight: bolder;
   color:  teal;
   font-size: 1.5em;
}

.form_styles > form{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-content: center;
   justify-content: center;
   align-items: center;
}

.form_styles > form > input {
   border: 1px solid gray;
   border-radius: .5em;
   color: gray;
   height: 3em;
   text-align: center;
   width: 18em;
   margin-bottom: 0.5em;
}


.form_styles > form > select {
   border: 1px solid gray;
   border-radius: .5em;
   color: gray;
   height: 3em;
   text-align: center;
   width: 18em;
   margin: 0 0 0.5em;
   box-shadow: none;
}


.form_styles > form > input.submit{
   width: 10em;
   height: 3em;
   background-color:teal;
   color: white;
   border-radius: 1.5em;
   cursor: pointer;
   display: flex;
   align-content: center;
   justify-content: center;
   align-items: center;
   margin-top: 1.5em;
   margin-bottom: 3em;
}

.form_styles > form > input > p {
   color: red;
   font-size: 1em;
}

.form_styles > form > input.submit:hover {
   width: 14em;
   height: 3em;
   background-color: white;
   border-radius: 1.5em;
   border: 1px  teal solid;
   cursor: pointer;
   display: flex;
   align-content: center;
   justify-content: center;
   align-items: center;
   color: teal;
   margin-top: 1.5em;
   margin-bottom: 3em;
}

.pass > input {
   border: 1px solid gray;
   border-radius: .5em;
   color: gray;
   height: 3em;
   text-align: center;
   width: 16em;
   margin-bottom: 0.5em;
}

.pass {
   display: flex;
   align-items: center;
   flex-direction: row;
}

.verificationButton {
   display: flex;
    flex-direction: column;
    align-items: center;
}

.verificationButton > button {
   width: 16em;
    height: 3em;
    background-color: white;
    color: teal;
    border-radius: 1.5em;
    border: 1px teal solid;
    cursor: pointer;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

/* Extra Small Devices (Portrait Phones, less than 576px) */
@media only screen and (max-width: 575.98px) {
   .wrapper {
      margin: 0;
      width: 15em;
      height: auto;
   }

   .header {
      margin-bottom: 2em;
      margin-top: 0em;
   }

   .container {
      margin: 0;
      width: 25em;
   }

   .form_styles > form > input {
      width: 24em;
      height: 4em;
   }

   .log > input {
      width: 22em;
      height: 4em;
   }

   .pass {
      display: flex;
      align-items: center;
      flex-direction: row;
      border: gray solid 1px;
      border-radius: 0.5em;
      margin: 0.5em;
   }

   .pass > input {
      width: 20em;
      height: 4em;
      border: transparent;
      border-radius: 0.5em;
      text-align: center;
      color: grey;
      margin: 0.5em 0.7em 0.5em 0;
   }

   .form_styles > form > select {
      width: 25em;
      height: 4em;
      border: 1px solid gray;
      border-radius: 0.5em;
      text-align: center;
      color: grey;
      margin: 0.5em 0;
      box-shadow: none;
   }

   .pass > i > img {
      padding: 0 1em 0;
   }
}

/* Small Devices (Landscape Phones, 576px and up) */
@media only screen and (min-width: 576px) and (max-width: 767.98px) {

   .wrapper {
      margin: 0;
      width: 15em;
      height: auto;
   }

   .header {
      margin-bottom: 2em;
      margin-top: 0em;
   }

   .container {
      margin: 0;
      width: 25em;
   }

   .form_styles > form > input {
      width: 26em;
      height: 4em;
   }

   .log > input {
      width: 22em;
      height: 4em;
   }
 
}

/* Medium Devices (Tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
/* Add your styles here */
}

/* Large Devices (Desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
/* Add your styles here */
}

/* Extra Large Devices (Large Desktops, 1200px and up) */
@media only screen and (min-width: 1200px) and (max-width: 1399.98px) {
/* Add your styles here */
}