@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
  color: gray;
  flex-direction: column;
  overflow-x: hidden;
}



p {
  font-size: 1.2em;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width:768px){
  #root {
    display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      width: 100%;
      align-content: center;
      overflow-x: hidden;
  }

}