html {
   scroll-behavior: smooth;
 }
 

.container {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-items: center;
 }

 .wrapper {
   font-family: 'roboto';
   color: #333;
   line-height: 1.6;
   background-color: #f9f9f9;
 }
 
 .header {
   text-align: center;
   margin-bottom: 2rem;
 }
 
 .headerImage {
   width: 100%;
   max-width: 90vw;
   margin: 3em auto;
   border-radius: 8px;

 }
 
 .section {

   background: #fff;
   padding: 1.5rem;
   width: 100vw;

 }
 
 .missionSection {
   background-color: #eef7f9;
   border-left: 4px solid teal;
   padding: 1.5rem;
   margin-bottom: 2rem;
 }
 
 .missionSection ul {
   padding-left: 1.5rem;
 }
 
 .missionSection li {
   margin-bottom: 1rem;
 }
 
 .visionSection {
   background: #efefef;
   padding: 1.5rem;
   border-radius: 8px;
   border-left: 4px solid gray;
 }
 
 .footer {
   text-align: center;
   margin-top: 2rem;
   padding-top: 1rem;
   border-top: 1px solid #ccc;
 }
 
 .footer a {
   color: teal;
   text-decoration: none;
   font-weight: bold;
 }
 
 .footer a:hover {
   text-decoration: underline;
 }
 