.container {
   display: flex;
   width: 100vw;
   min-height: 100vh;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   align-content: flex-start;
   flex-wrap: wrap;
}

.wrap {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   background: linear-gradient(to top, #c3dedb, #f8f8f8);
   padding: 2em 1em 1em 1em;
   justify-content: center;
   width: 100vw;
   min-height: 100vh;
   align-items: center;
   align-content: center;
}
.wrapper{
   display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

@media (min-width: 769px) and (max-width: 1181px) {
   .container {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: center;
      align-items: center;
      width: 99vw;
   }

   .userSelection {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
   }
}